.rdh-help-item {
    z-index: 1000;
    background-color: blueviolet;
    border-style: solid;
    border-color: blueviolet;
    border-radius: 0.3rem;

    display: flex;

    max-width: 25rem;
}

span.rdh-help-item-dismiss {
    font-weight: bold;
    cursor: pointer;
}

span.rdh-help-item-dismiss.rdh-dismiss-margin-left {
    margin: 0 0 0 0.5rem;
}

span.rdh-help-item-dismiss.rdh-dismiss-margin-right {
    margin: 0 0.5rem 0 0;
}