.rdh-help-item {
    z-index: 1000;
    background-color: blueviolet;
    border-style: solid;
    border-color: blueviolet;
    border-radius: 0.3rem;

    display: flex;
    flex-direction: column;

    max-width: 25rem;
}

.rdh-popup-dismissers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: lightgrey;
    font-size: smaller;
}

.rdh-dont-show {
    text-decoration: underline;
}

.rdh-popup-skip {
    text-decoration: underline;
}